@font-face {
    font-family: 'iconfont';
    src: url('iconfont.ttf') format('truetype');
}

* {
    user-select: none;
}

html,
body {
    overflow: hidden;
    background-color: #f7f7f7;
}

body {
    margin: 0px;
    padding: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    width: 100vw;
}

#loading {
    background: #000000;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.gif{
    background: url('loading.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/* .dg {
    opacity: 0.9;
}

.dg .property-name {
    overflow: visible;
}

.bigFont {
    font-size: 150%;
    color: #8C8C8C;
}

.cr.function.appBigFont {
    font-size: 150%;
    line-height: 27px;
    color: #A5F8D3;
    background-color: #023C40;
}

.cr.function.appBigFont .property-name {
    float: none;
}

.cr.function.appBigFont .icon {
    position: sticky;
    bottom: 27px;
}

.icon {
    font-family: 'iconfont';
    font-size: 130%;
    float: right;
}

.twitter:before {
    content: 'a';
}

.github:before {
    content: 'b';
}

.app:before {
    content: 'c';
}

.discord:before {
    content: 'd';
}

.link {
    width: 100%;
    display: inline-block;
}

.link img {
    width: 100%;
}

@keyframes promo-appear-animation {
    0% {
        transform: scale(2.0);
        opacity: 0;
    }
    100% {
        transform: scale(1.0);
        opacity: 1;
    }
} */